.homeCategory {
    padding: 10px;
    margin: 10px;
    background: #ffffff;
    border: 1px solid gray;
    cursor: pointer;
   
}
.homeCategory:hover{
    transform: scale(1.1);
    z-index: 1;
}
.homeCategory img{
    width: 130px;
    height: 100px;
}
.homeCategory p{
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width:687px) and (max-width:991px) {
    .FlashGridCategory{
        display: grid;
        grid-template-columns: repeat(2 ,250px);
        gap: 20px;
    }
    
}

/* ======================================
end tab view =================================== */


/*===========================================
  mobile view 
 =================== ==============================*/
@media only screen and (max-width:688px) {

    .homeCategory {
       width: 80%;
    }
    .homeCategory img{
       width: 100%;
    }
    .homeCategory {
        padding: 10px 0px;
        margin: 10px 0px;
       
    }
}