.dropDownProfile {
    position: absolute;
    top: 4.5rem;
    right: 1.2rem;
    border-radius: 8px;
    background-color: white;
    padding:5px 15px;
    border: 1px solid gray;
    font-size: 18px;
}
.dropDownProfile ul{
    list-style: none;
    padding: 0px 30px 0px 0px;
    
}
.dropDownProfile ul li {
    text-decoration: none;
    padding:10px 0px;
}
.dropDownProfile::before{
    content: '';
    position:absolute;
    top:-0.7rem;
    right: 1.1rem;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background-color: white;
}
.hover:hover {
    background: rgba(227,227,228,255);
    /* padding: 10px; */
    border-radius: 4px;
}