.HomeFlashSale {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.flashsale {
    width: 90%;
    margin: 0px auto;
}

/* ======================================
end tab view =================================== */


/*===========================================
  mobile view 
 =================== ==============================*/
@media only screen and (max-width:688px) {
    .HomeFlashSale {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .flashsale {
        width: 90%;
        margin: 0px auto;
    }
 
}