.myLink {
    margin-left: 50px;
}
.myLink a:hover{
    font-weight: 700;
    color: orange!important;
}
.nav-search {
    margin-top: 10px!important;
    margin-left: auto;
}
.search-field {
    width: 400px!important;
}