.myLink {
    margin-left: 50px;
}
.myLink a:hover{
    font-weight: 700;
    color: orange!important;
}
.nav-search {
    margin-top: 10px!important;
    margin-left: auto;
}
.search-field {
    width: 400px!important;
}
.mobile-nav-search {
    padding:0px!important;
}
.mobile-search-field {
    width: 100px!important;
    
}

@media only screen and (max-width:688px) {
    .myAppbar {
        margin-top:0px!important;
    }
    .appbarLogo {
        width: 70px;
        height: 70px;
    }
  }